
$button-font-color: #fff; //ui-button color
$button-color:#c7ddf3; //ui-button background color

$alignnone: 5px 20px 20px 0;
$alignleft: 5px 20px 20px 0;
$alignright: 5px 0 20px 20px;
$aligncenter: 5px auto 5px auto;
$trans: 175ms ease all; //Change this if you want to change the transition speed. Used with the %trans placeholder class
$box-shadow: 1px 1px 5px rgba( 0, 0, 0, .5 ); // box-shadow
$site-radius: 0; //If you want to keep the border radius of a site consistent, use this.

// FONT FAMILY */
$font-family: Montserrat, sans-serif;

// Main Site Colors
$main-site-color-1: #c7ddf3;
$main-site-color-2: #000;

// Font Color
$font-color-hover: #c7ddf3;
