// Main Site CSS
@import "partials/variables";
@import "partials/mixins";

body {
  height: 100%;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.navbar {
  position: absolute;
  display: block;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
  //added to decouple .navbar from w-nav
  // These aren't necessary
  // border-style: solid solid none;
  // border-width: 1px;
  // border-color: rgba(60, 35, 20, .35);
  // background-color: transparent;
  // box-shadow: none;
  // color: #3c2314;
}

.logo {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
  &.bottom {
    display: block;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    float: none;
  }
  @include tablet {
    width: 300px;
    margin-left: 25px;
  }
  @include large-phone {
    width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 0px;
  }
}

.navmenu__link {
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px 1vw;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.125;
  font-weight: 300;
  text-transform: uppercase;
  &:hover {
    background-color: transparent;
    color: $font-color-hover;
  }
  &.w--current {
    color: $font-color-hover;
  }
  @include large-phone {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.navmenu {
  width: 100%;
  border-bottom: 1px none rgba(4, 105, 58, .14);
  background-color: $main-site-color-2;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .18);
  text-align: center;
  //  Removed because redundant
  // &.scroll {
  //   background-color: #8a1e04;
  // }
}

.hero {
  height: 100%;
  @include large-phone {
    position: relative;
  }
  @include phone {
    height: 75%;
  }
  &--bg {
    background-size: cover;
    background-position: center;
    background-image: url('../images/#{$hero-background}-1920.jpg'), linear-gradient( rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .1 ) );
    @include large-screen {
      background-image: url('../images/#{$hero-background}-2560.jpg'), linear-gradient( rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .1 ) );
    }
    @include tablet {
      background-image: url('../images/#{$hero-background}-991.jpg'), linear-gradient( rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .1 ) );
    }
    @include large-phone {
      background-image: url('../images/#{$hero-background}-767.jpg'), linear-gradient( rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .1 ) );
    }
    @include phone {
      background-image: url('../images/#{$hero-background}-479.jpg'), linear-gradient( rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .1 ) );
      background-position: top;
    }
  }
}


.why_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e4fafa;
  text-align: center;
  @include phone {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

.container_div {
  display: inline-block;
  width: 80%;
  @include tablet {
    width: 90%;
  }
}

.section_headline {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #000;
  font-size: 48px;
  line-height: 1.125;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  &.center {
    // Removed because redundant
    // color: #8a1e04;
    text-align: center;
  }
  @include large-phone {
    margin-bottom: 30px;
    font-size: 38px;
  }
  @include phone {
    font-size: 30px;
  }
}

.section_text {
  margin-bottom: 30px;
  color: #58483e;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  text-align: left;
  &.king {
    padding-right: 30px;
    border-right: 5px none rgba(0, 0, 0, .05);
  }
  @include large-phone {
    &.king {
      padding-right: 0px;
    }
  }
}

.what_is_section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  text-align: center;
  @include phone {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.blade_free_lasik {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e4fafa;
  text-align: center;
  @include large-phone {
    padding-top: 75px;
    padding-bottom: 0px;
  }
}

.selftest_section {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #e4fafa;
  text-align: center;
  @include tablet {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  @include large-phone {
    padding-bottom: 50px;
  }
}

.financing_section {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
  @include tablet {
    padding-top: 75px;
    padding-bottom: 100px;
  }
  @include large-phone {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.locations_section {
  padding: 150px 80px;
  @include tablet {
    padding-right: 31px;
    padding-left: 31px;
  }
  @include large-phone {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include phone {
    padding-top: 50px;
    padding-right: 21px;
    padding-left: 21px;
  }
}

.location--bg {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-1920.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-1920.jpg');
  @include large-screen {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-2560.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-2560.jpg');
  }
  @include tablet {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-991.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-991.jpg');
  }
  @include large-phone {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-767.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-767.jpg');
  }
  @include phone {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-479.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/#{$location-background}-479.jpg');
  }
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.locations_container {
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  @include tablet {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @include phone {
    flex-direction: column;
  }
}

.location_div {
  width: 21.5%;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  @include tablet {
    width: 45%;
    margin-right: 10px;
    margin-left: 10px;
  }
  @include large-phone {
    margin-right: 5px;
    margin-left: 5px;
  }
  @include phone {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

.location_headline {
  height: 60px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid hsla(86, 58%, 77%, .4);
  color: #fff;
  font-size: 26px;
  line-height: 1.125;
  font-weight: 300;
}

.address_txt {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  @include tablet {
    font-size: 14px;
  }
  @include phone {
    font-weight: 300;
  }
}

.location_phone_link {
  display: block;
  margin-bottom: 30px;
  color: #00d9f3;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

.map_div {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, .56);
}

.map {
  height: 200px;
}

.footer_section {
  padding: 100px 80px 150px;
  border-top: 1px solid rgba(96, 56, 19, .22);
  background-color: $main-site-color-1;
  background-image: none;
  text-align: left;
  @include tablet {
    padding-right: 57px;
    padding-left: 57px;
  }
  @include large-phone {
    padding: 50px 20px 75px;
  }
}

.footer_div {
  width: 40%;
  float: left;
  @include phone {
    width: 100%;
    margin-bottom: 40px;
  }
}

.footer_text {
  float: none;
  color: #000;
  font-size: 12px;
}

// This doesn't exist in landing page
// .king_column {
//   border-left: 5px none hsla(84, 6%, 46%, .18);
//   text-align: right;
//   @include tablet {
//     padding-top: 69px;
//   }
// }
//
// .king_column_text {
//   padding-top: 49px;
//   padding-right: 0px;
//   text-align: left;
//   @include tablet {
//     padding-top: 0px;
//   }
// }

.learn_more_btn {
  padding: 12px 55px 10px 30px;
  background-image: url('../images/arrow_white.png');
  background-position: 89% 50%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-shadow: none;
  margin:5px;
  line-height: 1.125;
  @include ui-button(#c7ddf3, #000, #000);
  &.top_padding {
    margin-top: 52px;
  }
  &.lasik_test {
    background-position: 95% 50%;
  }
  @include phone {
    &.top_padding {
      margin-top: 0px;
    }
    &.lasik_test {
      margin-top: 1px;
      font-size: 12px;
    }
  }
}

// Not used in template file
// .left_column {
//   text-align: left;
//   &._2 {
//     padding-left: 25px;
//   }
//   @include tablet {
//     margin-bottom: 37px;
//   }
// }
//
// .right_column {
//   text-align: right;
// }

.bg_video {
  height: 100%;
  background-image: none;
  // @include tablet {
  //   background-image: none;
  // }
  // Removed - Redundant
  @include large-phone {
    display: none;
  }
}

.top_phone {
  position: static;
  top: 65px;
  right: 0px;
  width: auto;
  margin-top: 20px;
  padding-right: 25px;
  float: right;
  &:hover {
    color: #fff;
  }
  @include tablet {
    margin-top: 7px;
  }
  @include large-phone {
    padding-right: 5px;
  }
  @include phone {
    display: none;
    padding-right: 0px;
  }
}

.top_phone__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d6fca3;
  font-size: 28px;
  font-weight: 100;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
  @include phone {
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.top_phone__img {
  margin-right: 10px;
  color: #00d9f3;
  @include large-phone {
    width: 15%;
    margin-right: 5px;
  }
}

.small_phone_btn_text {
  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  float: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, .5);
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
  @include large-phone {
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 11px;
  }
}

.phone_btn_big_text {
  display: block;
  margin-top: 5px;
  float: none;
  color: #fff;
  line-height: 1.5;
  @include large-phone {
    margin-top: 2px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}

.btn_text_holder {
  text-align: left;
}

.lasik_info_kit_div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 18%;
  padding-top: 0px;
  padding-bottom: 30px;
  border-top: 1px none hsla(86, 58%, 77%, .25);
  background-color: transparent;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
  text-align: center;
  @include large-phone {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 20%;
    padding-top: 0px;
    padding-bottom: 15px;
    background-image: none;
  }
  @include phone {
    display: none;
  }
}

.main_message {
  position: absolute;
  left: 0px;
  top: 25%;
  z-index: 50;
  width: 50%;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 48px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .31) 60%, transparent);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .31) 60%, transparent);
  @include tablet {
    top: 25%;
    width: 65%;
    padding: 24px 24px 24px 50px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .57), transparent);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .57), transparent);
  }
  @include large-phone {
    left: 0px;
    top: 100px;
    right: 0px;
    width: 100%;
    padding: 10px 10px 20px 15px;
    &.mobile {
      display: none;
    }
  }
  @include phone {
    position: absolute;
    top: 61px;
    display: none;
    height: auto;
    padding: 20px;
    &.mobile {
      position: relative;
      display: block;
      padding-top: 15px;
    }
  }
  &--mobile_section {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000;
    text-align: center;
    @include phone {
      display: block;
    }
  }
}
.mobile_phone_btn {
  text-decoration: none;
}
.main_message__headline {
  &--1 {
    min-height: auto;
    margin-top: 0px;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 68px;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: none;
    text-shadow: none;
    @include tablet {
      font-size: 56px;
    }
    @include large-phone {
      margin-bottom: 5px;
      font-size: 28px;
    }
  }
  &--2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 1.125;
    font-weight: 400;
    @include tablet {
      font-size: 24px;
    }
    @include large-phone {
      margin-bottom: 10px;
      font-size: 18px;
    }
    @include phone {
      margin-bottom: 20px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.main_message__text {
  margin-bottom: 30px;
  padding-right: 71px;
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  @include tablet {
    color: #fff;
    font-size: 20px;
  }
  @include large-phone {
    margin-bottom: 10px;
    padding-right: 0px;
    font-size: 14px;
  }
  @include phone {
    font-weight: 300;
  }
}

.schedule_app_btn {
  margin-left: 18px;
  padding: 20px 31px 20px 60px;
  border-radius: 30px;
  background-image: url('../images/white-arrow.png');
  background-position: 10px 50%;
  background-size: 32px;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 1.125;
  font-weight: 400;
  margin-top: 10px;
  text-transform: uppercase;
  @include ui-button(#c7ddf3, #000);
  @include tablet {
    font-size: 14px;
  }
  @include large-phone {
    padding: 10px 20px 10px 42px;
    background-position: 6px 50%;
    background-size: 30px;
    font-size: 12px;
  }
}

.main_headline3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ebfcd5;
  font-size: 50px;
  line-height: 1.125;
  font-weight: 300;
  text-transform: uppercase;
  @include tablet {
    font-size: 56px;
  }
  @include large-phone {
    margin-bottom: 30px;
    font-size: 26px;
  }
  @include phone {
    margin-bottom: 0px;
  }
}

.quick_contact_section {
  padding-top: 100px;
  padding-bottom: 75px;
  background-color: #8ab155;
  background-image: url('../images/form-bg.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  @include tablet {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

.quick_form_div {
  display: block;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  float: none;
  @include tablet {
    width: 100%;
    padding-right: 0px;
  }
}

.book_img_holder_div {
  position: relative;
  top: 0px;
  right: 0px;
  width: 30%;
  float: right;
  @include tablet {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 19px;
  }
}

.book_img_div {
  position: absolute;
  left: 0px;
  top: 0px;
  @include tablet {
    position: static;
  }
}

.quick_form_headline {
  margin-bottom: 25px;
  color: #fff;
  font-size: 24px;
  line-height: 1.125;
  font-weight: 100;
  text-align: center;
  @include tablet {
    text-align: center;
  }
}

.quick_form_headline_bold {
  font-size: 28px;
  font-weight: 400;
}

.text_field {
  width: 250px;
  margin-right: 10px;
  float: left;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .32);
  color: #fff;
  &:hover {
    color: #04693a;
  }
  @include tablet {
    width: 400px;
    margin-right: 5px;
  }
}

.submit_btn {
  display: block;
  width: 250px;
  border-radius: 20px;
  @include ui-button(#c7ddf3, #000);
  text-transform: uppercase;
  line-height: 1.125;
  @include tablet {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @include tablet {
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.review_section {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
  @include tablet {
    padding-bottom: 75px;
  }
}

.testimonials_holder_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.testimonial_div {
  width: 33%;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  @include tablet {
    width: 100%;
    margin-bottom: 36px;
  }
}

.middle {
  border-right: 1px dashed hsla(86, 10%, 53%, .27);
  border-left: 1px dashed hsla(86, 10%, 53%, .27);
  @include tablet {
    border-right-style: none;
    border-left-style: none;
  }
}

.testimonials_img {
  margin-bottom: 20px;
}

.testimonials_text {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.testimonial_name {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #8a1e04;
  line-height: 1.125;
  font-weight: 100;
}

.name_smaller {
  font-size: 18px;
}

// These aren't used.
// .success_msg {
//   background-color: transparent;
//   color: #d2fd98;
//   font-size: 16px;
//   font-weight: 300;
// }
//
// .error_msg {
//   background-color: transparent;
//   color: #830808;
//   text-align: left;
// }

.locations_icon_div {
  width: 21.5%;
  margin-right: 20px;
  margin-left: 20px;
  @include tablet {
    width: 45%;
  }
  @include phone {
    width: 100%;
    margin-right: auto;
    margin-bottom: 36px;
    margin-left: auto;
    text-align: center;
  }
}

.locations_headline {
  margin-top: 13px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 56px;
  line-height: 1.125;
  font-weight: 100;
  @include tablet {
    font-size: 36px;
  }
}

.scroll_div {
  display: inline-block;
  @include large-phone {
    display: none;
  }
}

.scroll_text {
  margin-top: 5px;
  color: hsla(0, 0%, 100%, .74);
  font-weight: 100;
}

.scroll_arrow {
  margin-bottom: 5px;
}

.social_media_div {
  width: 40%;
  float: right;
  text-align: right;
  @include large-phone {
    width: 50%;
  }
  @include phone {
    width: 100%;
    margin-bottom: 14px;
    text-align: right;
  }
}

.bottom_phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: $main-site-color-phone;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.bottom_phone_img {
  margin-left: 10px;
}

.social_media_headline {
  color: #000;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 300;
}

.social_media_btn {
  margin-left: 10px;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  &:hover {
    opacity: 0.5;
  }
}

.lasik_test_div {
  width: 60%;
  padding-right: 0px;
  text-align: left;
  @include tablet {
    text-align: left;
  }
  @include large-phone {
    width: 100%;
    float: left;
  }
}

.lasik_test_img_container {
  position: relative;
  width: 40%;
  float: right;
  @include large-phone {
    position: static;
    display: inline-block;
    width: 40%;
    float: none;
  }
  @include phone {
    width: 70%;
  }
}

.lasik_test_img_div {
  position: absolute;
  top: -225px;
  right: 0px;
  @include tablet {
    position: static;
  }
  @include large-phone {
    margin-bottom: 21px;
  }
}

.navbar_scroll {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  @include tablet {
    background-color: transparent;
  }
  @include phone {
    display: none;
  }
}

.scroll_btn {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  &:hover {
    color: #c2fa78;
  }
}

.important-text {
  color: #fff;
  &--2 {
    color: #8a1e04;
  }
}

.text-block {
  color: #fff;
}

.block-quote {
  font-weight: 300;
}

.block-quote-2 {
  font-weight: 300;
}

.block-quote-3 {
  font-weight: 300;
}

.image {
  margin-top: 170px;
}

.row {
  display: block;
  max-width: 920px;
  margin-right: auto;
  margin-bottom: 38px;
  margin-left: auto;
}

.form-block {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.parallax {
  height: 600px;
  background-image: url('../images/#{$parallax-background}-1920.jpg');
  @include large-screen {
    background-image: url( '../images/#{$parallax-background}-2560.jpg' );
  }
  @include tablet {
    background-image: url( '../images/#{$parallax-background}-991.jpg' );
  }
  @include large-phone {
    background-image: url( '../images/#{$parallax-background}-767.jpg' );
  }
  @include phone {
    background-image: url( '../images/#{$parallax-background}-479.jpg' );
  }
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

html.w-mod-js {
  *[data-ix="slide-left"],*[data-ix="slide-left-2"], *[data-ix="slide-left-3"], *[data-ix="slide-left-3"]  {
   opacity: 0;
   -webkit-transform: translate(67px, 0px);
   -ms-transform: translate(67px, 0px);
   transform: translate(67px, 0px);
 }
 *[data-ix="scroll-bounce"] {
   -webkit-transform: translate(0px, -9px);
   -ms-transform: translate(0px, -9px);
   transform: translate(0px, -9px);
 }
 *[data-ix="scroll-navbar-zero"] {
   opacity: 0;
   -webkit-transform: translate(0px, -100px);
   -ms-transform: translate(0px, -100px);
   transform: translate(0px, -100px);
 }
}

.manu_btn {
  @include tablet {
    background-color:$menu-btn-background;
    color:#fff;
    &.w--open {
      background-color: lighten($menu-btn-background, 50);
    }
  }
}
.column_video {
  @include large-phone {
    margin-bottom: 50px;
  }
}
